/*
  Section for the general styling of this specific page
*/

.totaal {
  display: grid;
  --horizontal-grid: 12; 
  --vertical-grid: 24
  grid-template-columns: repeat(var(--vertical-grid), minmax(0, calc(100% / var(--vertical-grid))));
  grid-template-rows: repeat(var(--horizontal-grid), minmax(0, calc(100% / var(--horizontal-grid))));
  gap: 10px ;
  height: 100%;
  width: 100%;
  --global-background-item: #f3f3f3;
}

/*
  Section for the header of the page (title, weetje, ...)
*/

.totaal--header {
  grid-area: 1/2/2/25;
  padding-top: 2%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
}

.totaal-header-title-container {
  grid-area: 1/2/2/4;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.totaal--title {
  grid-area: 1/1/1/2;
  font-size: 2em;
  font-weight: 500;
  display: flex;
  justify-content: start;
  padding-bottom: 2px;
  border-bottom: 5px solid black;
}

.totaal--weetje {
  grid-area: 1/24/2/25;
  border-radius: 100%;
  border: 1px solid var(--global-color-title);
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

/*
  Section for the main information of the page
*/

.totaal--item {
  background-color: var(--global-background-item);
  border-radius: 5px;
}

.totaal--item-style-info {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.totaal--item-style-vergelijking {
  display: table;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/*
  Placement of the items
*/

.totaal--main-graph {
  grid-area: 3/2/10/13;
}

.totaal--data-below-left {
  grid-area: 10/2/12/7;
}

.totaal--data-below-middle {
  grid-area: 10/7/12/13;
}

.totaal--data-above-left {
  grid-area: 3/14/5/17;
}

.totaal--data-above-right {
  grid-area: 3/17/7/24;
}

.totaal--data-above {
  grid-area: 3/14/5/24;
}

.totaal--piechart {
  grid-area: 7/14/12/24;
  display: flex;
  gap: 0px;
}

.totaal--piechart-title {
  padding: 2% 7%;
  font-size: 200%;
  color: var(--global-color-title);
}

/*
  Styling for the small boxes
*/

.totaal--item-icon {
  justify-self: start; /*horizontaal*/
  align-self: center; /*verticaal*/
  height: 50%;
  width: 20%;
}

.totaal--item-icons-vergelijking {
  display: flex;
  gap: 5%;
  align-self: center;
  justify-content: center;
  padding-bottom: 5%;
}

.totaal--item-info {
  align-self: center;
  justify-self: center;
  width: 70%;
  margin-right: 10%;
}

.totaal--item-title {
  padding-top: 10%;
  color: var(--global-color-title);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  padding-right: 10%;
}

.totaal--item-title-vergelijking {
  padding-bottom: 5%;
  color: var(--global-color-title);
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 150%;
}

.totaal--item-big-title {
  display: flex;
  justify-content: center;
  padding: 2% 5% 2% 5%;
  color: var(--global-color-title);
  font-size: 200%;
}

.totaal--item-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.totaal--item-line-vergelijking {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%
}

.totaal--item-value {
  padding-right: 3%;
  font-size: 200%;
  font-weight: bold;
}

.totaal--item-unit {
  font-weight: 400;
  font-size: 150%;
  padding-right: 5%;
}

.totaal--item-arrow {
  justify-self: center;
  align-self: center;
  width: 20%;
  height: 100%;
}

.totaal--item-arrow-image {
  height: 50%;
  width: 50%;
  padding-right: 10%;
}



/*
  Styling for the medium boxes
*/

.totaal--item-graph-container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.totaal--item-graph {
  display: flex;
  width: 100% !important;
  height: 100% !important;
  padding-bottom: 5%;
  padding-left: 5%;
  justify-content: center;
}

.totaal--item-big-info {
  display: flex;
  width: 100%;
  justify-content:space-between;
  padding-left: 8%;
  padding-right: 8%;
}

.totaal--item-big-day {
  display: flex;
  gap: 2%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.totaal--item-big-day-info {
  padding-left: 5%;
  font-size: 150%;
  font-weight: bold;
  width: 100%;
}

.totaal--item-big-night-info {
  padding-left: 5%;
  font-size: 150%;
  font-weight: bold;
  width: 100%;
}

.totaal--item-big-day-icon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 5%;
  align-items: center;
}

.totaal--item-piechart {
  height: 100%;
  width: 100%;
  padding: 0 5% 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totaal--item-piechart-flex {
  gap: 5%;
  width: 100%;
}

.totaal--piechart-legend {
  padding-left: 5%;
  width: 100%;
}

/*
  Quiz
*/

.totaal--quiz {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 2%;
  gap: 7%;
  height: 100%;
  /* width: 100%; */
}

.totaal--quiz-question {
  font-size: 130%;
  color: var(--global-color-title);
  width: 15rem;
}

.totaal--quiz-timer {
  width: calc(4*var(--global-font-size));
  height: calc(4*var(--global-font-size));
  border: 1px solid var(--global-color-title);
  border-radius: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.totaal--quiz-timer * {
  text-align: center;
}

.totaal--quiz-answers {
  grid-area: 5/14/7/24;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
}

.totaal--quiz-answer-left {
  grid-area: 1/1/1/3;
}

.totaal--quiz-answer-middle {
  grid-area: 1/4/1/6;
}

.totaal--quiz-answer-right {
  grid-area: 1/7/1/9;
}

.totaal--quiz-answer-all {
  grid-area: 1/1/1/9;
}

.totaal--quiz-answer-container {
  height: 100%;
  width: 100%;
}

.totaal--quiz-answer-correct {
  border: 1rem solid green;
  color:green;
  text-decoration: underline;
}

.totaal--quiz-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 120%;
  height: 100%;
  width: 100%;
}



/*
  Animations
*/

.totaal--item-arrow-up {
  animation-name: arrow-up;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.totaal--item-arrow-down {
animation-name: arrow-down;
animation-duration: 0.75s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes arrow-up {
  0% {
    transform: translateY(10%);
  }
}

@keyframes arrow-down {
  0% {
    transform: translateY(-10%);
  }
}