:root {
  /* colors */
  --global-color-neutral: #ffffff;
  --global-color-background: #dc3545;
  /* shadows */

  /* border radius */

  /* transitions */

  /* whitespace */
}

html {
  font-size: 16px;
  line-height: 24px;
  font-family: "RobotoCondensed Light", serif;
  color: var(--global-color-neutral);
  background-color: var(--global-color-background);
}
