body {
  height: 100vh !important;
}

.main--container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.admin--container {
  margin-left: 4rem;
  align-self: center;
  justify-self: start;
  grid-area: 1/1/1/1;
  min-height: 30%;
  width: max(20%, 24rem);

  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 5px #00000040;
}

.admin--container picture {
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.admin--profile-name {
  color: var(--admin-color-text);
}

.admin--container picture img {
  height: 64px;
}

.admin--content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding-bottom: 2rem;
}

.admin--fieldset-label {
  position: relative;
  top: 0;
  left: 10px;
  z-index: 10;
  height: 1em;
  display: block;
  max-width: fit-content; /*zodat de width van de content bepaald wordt met de lengte ervan*/
  padding-left: 10px;
  padding-right: 10px;
  color: var(--admin-color-background);
  background-color: white;
}

.admin--fieldset-input {
  position: relative;
  top: 10px;
  left: 0;
  padding-left: 15px;
  outline: none; /*zorgt dat de border weg gaat die er standaard is*/
  border-radius: 5px;
  border: 1px solid var(--admin-color-text);
  height: 3rem;
}

.admin--fieldset-input:active,
.admin--fieldset-input:focus {
  border: 2px solid var(--admin-color-background);
}

.admin--fieldset-login {
  grid-area: 1/2/2/10;
}

.admin--fieldset-password {
  grid-area: 3/2/4/10;
}

.admin--recovery-container {
  display: flex;
  justify-content: center;
}

.admin--fieldset-recovery {
  grid-area: 1/2/1/10;
  width: 100%;
}

.admin--container-logo {
  margin: 1rem 0;
}

.admin--authentication {
  grid-area: 5/2/6/10;
  border-radius: 8px;
  border: 0;
  background-color: var(--admin-color-detail);
  color: white;
}

.admin--picture {
  height: 100vh;
  width: auto;
  justify-self: end;
  position: relative;
  top: 0;
  right: 100px;
  grid-area: 1/1/1/1;
  margin-right: 50px;
  z-index: -1;
}

.admin--picture img {
  min-height: 100%;
  max-height: 100%;
}

.admin--fieldset-password-icon {
  display: block;
  width: 20px;
  fill: var(--admin-color-text);
  grid-area: 3/9/4/10;
  padding-top: 20px;
  z-index: 20;
  align-self: center;
  justify-self: center;
}

.admin--qrcode {
  margin-bottom: 4%;
  padding-bottom: 1rem;
}

.admin--qrcode-explanation {
  font-size: 1rem;
  display: flex;
  justify-self: center;
  padding: 1rem 0.6rem;
}

.admin--recovery-container-input {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  margin-bottom: 3%;
}

.admin--recovery-container input {
  justify-self: center;
  z-index: 4;
}

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.admin--fieldset-password-checkbox {
  grid-area: 3/9/4/10;
  margin-top: 10px;
  z-index: 50;
}

.admin--fieldset-password-toggle {
  grid-area: 3/9/4/10;
  z-index: 60;
  align-self: center;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

@media (pointer: none), (pointer: coarse) {
  .admin--container {
    justify-self: center;
    height: 40%;
    width: 90%;
    left: 0;
  }

  .admin--picture {
    display: none;
  }
}
