/*Used by titles & headers*/
@font-face {
  font-family: 'RobotoCondensed';
  src: url('./font/RobotoCondensed-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('./font/RobotoCondensed-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('./font/RobotoCondensed-Bold.ttf');
  font-weight: 600;
}

/*Used by main content*/
@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Bold.ttf');
  font-weight: 600;
}

:root {
  /* colors */
  --global-color-neutral: #ffffff;
  --global-color-neutral-x-dark: #00000033;
  --global-color-background: #dc0000;
  --global-color-text: #000000;
  --page1-color-text: green;
  /* shadows */

  /* border radius */

  /* transitions */

  /* whitespace */

  /* misc */
}

* {
  box-sizing: border-box;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'RobotoCondensed', serif;
  font-weight: 400;
}

p,
a,
li,
span {
  font-family: 'Roboto', serif;
  font-weight: 200;
}

p {
  font-size: 16px;
}

body {
  color: var(--global-color-text);
  background-color: var(--global-color-background);
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.admin-container {
  background-color: white;
  height: 40%;
  width: 20%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
  align-self: center;
  justify-self: start;
  position: relative;
  top: 0;
  left: 30px;
  border-radius: 8px;
}

.admin-fieldset-label {
  position: relative;
  top: 0;
  left: 10px;
  z-index: 10;
  height: 1em;
  display: block;
  max-width: fit-content; /*zodat de width van de content bepaald wordt met de lengte ervan*/
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.admin-fieldset-input {
  position: relative;
  top: 10px;
  left: 0;
  padding-left: 8px;
  outline: none; /*zorgt dat de border weg gaat die er standaard is*/
  border-radius: 5px;
  border: 1px solid var(--global-color-neutral-x-dark);
}

.admin-fieldset-input:active,
.admin-fieldset-input:focus {
  border: 2px solid var(--global-color-background);
}

.admin-fieldset-login {
  grid-area: 2/2/3/10;
}

.admin-fieldset-password {
    grid-area: 4/2/5/10;
}

.admin-authentication {
    grid-area: 6/2/7/10;
    border-radius: 8px;
    border: 1px solid var(--global-color-neutral-x-dark);
}
