.geschiedenis--container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  max-height: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.geschiedenis--beschrijving {
  padding-bottom: 16px;
  padding-top: 16px;
  font-size: calc(24em / 16);
}

.geschiedenis--text {
  grid-row-start: 1;
  grid-column-end: span 2;
}

.geschiedenis--koolcentrale {
  grid-row-start: 2;
  grid-column-start: 1;
  max-height: 50%;
}

.geschiedenis--koolcentrale__element {
  max-width: 100%;
  max-height: 100%;
}

.geschiedenis--duiktank {
  grid-row-start: 2;
  grid-column-start: 2;
  max-height: 50%;
  max-width: 50%;
  display: block;
}

.geschiedenis--duiktank__element {
  max-height: 100%;
  max-width: 50%;
}
