/*Used by titles & headers*/
@font-face {
  font-family: 'RobotoCondensed';
  src: url('./font/RobotoCondensed-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('./font/RobotoCondensed-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('./font/RobotoCondensed-Bold.ttf');
  font-weight: 600;
}

/*Used by main content*/
@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Bold.ttf');
  font-weight: 600;
}

:root {
  /* colors */
  --global-color-neutral: #ffffff;
  --global-color-background: #dc0000;
  --global-color-text: #000000;
  --page1-color-text: green;
  /* shadows */

  /* border radius */

  /* transitions */

  /* whitespace */
}

* {
  box-sizing: border-box;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'RobotoCondensed', serif;
  font-weight: 400;
}

p,
a,
li,
span {
  font-family: 'Roboto', serif;
  font-weight: 200;
}

body {
  color: var(--global-color-text);
  background-color: var(--global-color-background);
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.slide-content {
  width: 80%;
  height: 80%;
  background-color: var(--global-color-neutral);
  padding: 1em;
  border-radius: 8px;
}

.page1--title {
  color: var(--page1-color-text);
}

.page1--info {
  padding: 100px 20px;
  gap: 20px;
}

.page1--image {
  max-width: 80%;
  max-height: auto;
}

.page1--chart {
  width: 600px;
}

.page1 {
  display: grid;
  /* grid-template-rows: 50px 50px auto 50px; */
  grid-template-columns: repeat(10, 1fr);
  height: 100%;
  width: 100%;
}

.page1--title {
  grid-area: 1/1/1/4; /* lengte column, lengte row*/
}

.page1--sub {
  grid-area: 2/1/4/8; /* verticaal horizontaal verticaal horizontaal */
}

.page1--chart {
  grid-area: 4/2/9/3; /* start coor: 3row, 2col --> 7row, 3col */
}

.page1--picture {
  grid-area: 4/4/9/11;
}

.page1--weetje {
  grid-area: 9/11/9/11;
}
