/*
  Section for the general styling of this specific page
*/

.klimzaal {
    display: grid;
    grid-template-rows: 50fr 40fr 40fr 350fr 50fr auto 40fr;
    grid-template-columns: repeat(10, 1fr);
    height: 100%;
    width: 100%;
  }
  
  /*
    Section for the title and the info of this specific page
  */
  
  .klimzaal--title {
    grid-area: 1/1/2/3; /* row start, column start --> row end, column end*/
  }
  
  .klimzaal--sub {
    grid-area: 2/1/3/8; /* verticaal horizontaal verticaal horizontaal */
  }
  
  .klimzaal--sub-activities {
    grid-area: 4/1/5/8;
    padding-left: 50px;
    padding-top: 290px;
  }
  
  /*
    Section for the picture
  */
  
  .klimzaal--picture {
    padding-left: 50px;
    padding-top: 20px;
    grid-area: 3/1/8/6;
    border-radius: 8px;
    width: 100%;
  }
  
  .klimzaal--image {
    max-width: 80%;
    max-height: auto;
    height: 60%;
    width: 80%;
    border-radius: 8px;
  }
  
  /*
    Section for the "did you know"
  */
  
  .klimzaal--weetje {
    /* grid-area: 7/8/8/11; */
    padding: 10px;
    background-color: var(--global-color-background);
    color: var(--global-color-neutral);
    border: 1px solid var(--global-color-background);
    border-radius: 10px;
    box-shadow: 2px 4px 5px #00000080;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  
  
  .klimzaal--weetje-links {
    grid-area: 7/1/8/4;
  }
  
  .klimzaal--weetje-rechts {
    grid-area: 7/8/8/11;
  }

  /*
    Section for info about the electrical stuff
  */

  .klimzaal--info-case {
    grid-area: 3/5/4/8;
    border: 1px solid var(--global-color-background);
    border-radius: 8px;
    background-color: var(--global-color-neutral-x-dark);
  }

  .klimzaal--info {
      font-weight: bold;
  }