<main class="main">
    <header class="header">
      <div class="header--title-container">
        <p class="header--title header--title-x-long">Title</p>
      </div>
    </header>
  
    <div class="item--style item--big-left-big">
      <picture class="item--big-picture">
        <img class="item--big-image item--big-image-special" src="./img/placeholder16x9.png" alt="">
      </picture>
    </div>
    <div class="item--style item--medium-explanation-below-left">
      <div class="item--medium-explanation-beneath-container">
        <p class="item--medium-explanation-beneath-text">Placeholder text</p>
      </div>
    </div>
    <div class="item--style item--big-right-big">
      <picture class="item--big-picture">
        <img class="item--big-image" src="./img/placeholder16x9.png" alt="">
      </picture>
    </div>
    <div class="item--style item--medium-explanation-below-right">
      <div class="item--medium-explanation-beneath-container">
        <p class="item--medium-explanation-beneath-text">Placeholder text</p>
      </div>
    </div>
  </main>
  