<main class="main">
    <header class="header">
      <div class="header--title-container">
        <p class="header--title header--title-short">Title</p>
      </div>
    </header>
  
    <div class="item--style item--big-slideshow-left">
      <div class="item--big-slide-container">
        <img class="item--big-slide-image" src="./img/placeholder4x3.png" alt="">
      </div>
    </div>
  
    <div class="item--style item--medium-activity-below">
      <div class="item--medium-slide-container">
        <p class="item--medium-slide-text">Placeholder text</p>
        <picture class="item--medium-slide-icon">
          <img class="item--medium-slide-icon" src="./img/placeholder-icon.png" alt="">
        </picture>
      </div>
    </div>
  
    <div class="item--style item--medium-activity-above">
      <div class="item--medium-activities-container">
        <p class="item--medium-activities-title title">Subtitle</p>
        <div class="item--medium-activities-summary-container">
          <div class="item--medium-activities-summary">
            <div class="item--medium-activities-summary-item">
              <picture class="item--medium-activities-summary-picture">
                <img class="item--medium-slide-icon" src="./img/placeholder-icon.png" alt="">
              </picture>
              <p class="item--medium-activities-summary-text">Item</p>
            </div>
            <div class="item--medium-activities-summary-item">
              <picture class="item--medium-activities-summary-picture">
                <img class="item--medium-slide-icon" src="./img/placeholder-icon.png" alt="">
              </picture>
              <p class="item--medium-activities-summary-text">Item</p>
            </div>
            <div class="item--medium-activities-summary-item">
              <picture class="item--medium-activities-summary-picture">
                <img class="item--medium-slide-icon" src="./img/placeholder-icon.png" alt="">
              </picture>
              <p class="item--medium-activities-summary-text">Item</p>
            </div>
            <div class="item--medium-activities-summary-item">
              <picture class="item--medium-activities-summary-picture">
                <img class="item--medium-slide-icon" src="./img/placeholder-icon.png" alt="">           
              </picture>
              <p class="item--medium-activities-summary-text">Item</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="item--style item--medium-images-right">
      <picture class="item--medium-images-picture">
        <img class="item--medium-images-image item--medium-images-image-left" src="./img/placeholder4x3.png" alt="">
        <img class="item--medium-images-image item--medium-images-image-right" src="./img/placeholder4x3.png" alt="">
      </picture>
    </div>
  </main>