<main class="main">
    <header class="header">
      <div class="header--title-container">
        <p class="header--title ">Title</p>
      </div>
    </header>
  
    <div class="item--style item--big-left">
      <div class="item--big-container">
        <picture class="item--big-picture">
          <img class="item--big-image center" src="./img/placeholder4x3.png" alt="" />
        </picture>
      </div>
    </div>
    <div class="item--style item--small-below-left">
      <div class="item--medium-container">
        <div class="item--medium-value-text-container">
          <div class="item--medium-value-container title">
            <p dataElement dataValue="0" class="item--medium-value title">N/A</p>
            <p class="item--medium-unit">kW/h</p>
          </div>
          <p class="item--medium-text">Placeholder text</p>
        </div>
        <picture class="item--medium-icon-container">
          <img class="item--medium-slide-icon" src="./img/placeholder-icon.png" alt="" />
        </picture>
      </div>
    </div>
    <div class="item--style item--small-below-middle">
        <div class="item--medium-container">
            <div class="item--medium-value-text-container">
              <div class="item--medium-value-container title">
                <p dataElement dataValue="0" class="item--medium-value title">N/A</p>
                <p class="item--medium-unit">kW/h</p>
              </div>
              <p class="item--medium-text">Placeholder text</p>
            </div>
            <picture class="item--medium-icon-container">
              <img class="item--medium-slide-icon" src="./img/placeholder-icon.png" alt="" />
            </picture>
          </div>
    </div>
    <div class="item--style item--small-above-left">
      <div class="item--style-small-info">
     </picture>
        <div class="item--container">
          <div class="item--small-value-container title">
            <p dataElement dataValue="0" class="item--value">N/A</p>
            <p class="item--unit">kW/h</p>
          </div>
          <p class="item--small-text">Placeholder text</p>
        </div>
      </div>
    </div>
    <div class="item--style item--medium-compare-above-right">
      <div class="item--style-medium-compare">
        <div class="item--style-medium-compare-text-container title">
          <div class="item--style-medium-compare-value-container">
            <p dataElement dataValue="0" class="item--style-medium-compare-value">N/A</p>
            <p class="item--style-medium-compare-unit">kW/dag</p>
          </div>
          <p class="item--style-medium-compare-text">Placeholder text</p>
        </div>
        <div class="item--style-medium-compare-line">
          <img src="./img/compare-section.png" alt="">
        </div>
        <div class="item--style-medium-compare-icons">
            <img class="item--medium-slide-icon" src="./img/placeholder-icon.png" alt="" />
        </div>
      </div>
    </div>
    <div class="item--style item--small-middle-left">
      <div class="item--style-small-info">
        <div class="item--container">
          <div class="item--small-value-container title">
            <p dataElement dataValue="0" class="item--value">N/A</p>
            <p class="item--unit">kW/h</p>
          </div>
          <p class="item--small-text">Placeholder text</p>
        </div>
      </div>
    </div>
    <div class="item--style piechart--card-style item--medium-piechart-right">
      <div dataElement dataType="elementDefaultsPie" dataValue='{ title: "kW/h", data: [0], labels: ["Placeholder legend"] }' class="piechart--container-big piechart--data-duiktank">
        <div class="piechart--container">
          <div class="piechart--circle center">
            <div class="center piechart--box">
              <svg class="piechart--icon svg--bliksem" height="70" width="70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.44 100.83">
                <defs>
                  <style>
                    .a {
                      fill: #ff9c2a;
                    }
  
                    .b {
                      fill: #ffe00a;
                    }
                  </style>
                </defs>
                <polygon class="a svg--1" points="36.15 36.26 23.35 36.26 37.34 0 20.49 0 0 53.11 0.4 53.11 16.85 53.11 26.73 53.11 8.25 100.83 50.06 36.37 50.11 36.26 36.15 36.26 36.15 36.26" />
                <polygon class="b svg--2" points="50.44 36.26 44.25 36.26 41.91 36.26 23.83 36.26 37.08 0.71 37.11 0.63 37.31 0.11 37.3 0.11 37.31 0.07 37.34 0 30.91 0 30.91 0 30.84 0 11.03 44.54 16.49 44.63 16.48 44.65 19.54 44.65 20.7 44.65 21.19 44.65 30.94 44.65 37.53 44.65 8.25 100.83 50.44 36.26" />
              </svg>
              <p class="piechart--center-value title">X</p>
              <p class="piechart--center-label title">kW/uur</p>
            </div>
            <svg class="piechart piechart--box" viewbox="0 0 100 100">
              <circle class="piechart--root-circle"></circle>
            </svg>
          </div>
          <ul class="piechart--legend duiktank--piechart-legend js-legend">
            <li class="piechart--legend-label">
              <div class="piechart--legend-color"></div>
              <p class="piechart--legend-text">No label</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  