.press--container {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
}

.press--title {
  padding: 1rem 0;
  font-weight: 600;
}

.press--slide-container {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: var(--global-color-container);
}

.press--slide-container p {
  max-width: 20rem;
}
