.slide {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  --global-border-hover-color: #a70303;
  --global-border-color: #d16c6c;
  color: white;
}

/*
    Section for the title of the page
*/

.slide--title-container {
  padding: 5%;
  grid-area: 1/1/2/4;
  width: 100%;
  height: 100%;
  display: flex;
}

.slide--title {
  font-size: 150%;
  font-weight: 800;
  color: var(--admin-color-text);
}

/*
    Section for the part where you can set the number of slides
*/

.slide--number-set-container {
  grid-area: 3/1/5/15;
  padding-left: 1%;
}

.slide--number-set-text {
  font-size: 120%;
  padding-bottom: 0.5%;
}

.slide--number-set-input {
  outline: none;
  padding: 0.5%;
  border: 1px solid var(--admin-color-container);
  background-color: var(--admin-color-container);
  border-radius: 5px;
  font-size: 120%;
  width: 10%;
  background-color: white;
}

/*
    Section for the slideshow drag and drop part
*/

.slide--slideshow-available-container {
  grid-area: 5/1/14/4;
  background-color: gray;
  height: 100%;
  width: 100%;
}

.slide--slideshow-chosen-container {
  grid-area: 7/5/12/20;
  background-color: gray;
  height: 100%;
  width: 100%;
}

.slide--slideshow-available-slide {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.slide--slideshow-chosen-slide {
  height: 100%;
  width: auto;
  padding-right: 10px;
}

.slide--slideshow-title {
  grid-area: 6/5/6/20;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

/*
    Section for the button to submit the changes
*/

.slide--submit-changes {
  grid-area: 14/10/15/13;
  width: 100%;
  height: 100%;
  background-color: var(--admin-color-detail);
  border: 2px solid var(--global-border-color);
  border-radius: 5px;
  color: white;
}

.slide--submit-changes:hover {
  border: 2px solid var(--global-border-hover-color);
  background-color: var(--global-border-color);
  color: black;
}
